html {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
.row {
    margin: 0;
    padding: 0;
}

.header,
.footer,
.product-page {
    /*margin:0px 0.5rem;*/
}

.gallery {

    width: 300px;
    height: 400px;
    display: flex;
    overflow: hidden;
    margin-bottom: 1rem;
}

.header {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-flow: column;
    /*border-bottom: solid 1px #c6c6c6;*/
}

.menu-open {
    position: absolute;
    left: 0.5rem;
    width: 1rem;
    top: 1.32rem;
    height: 10px;
    border: none;
    background: url(img/hamburger.svg) repeat-x;
    cursor: pointer;
}

.header-logo-link {
    display: block;
    cursor: pointer;
}

.product-title {
    font-family: 'Lora', serif;
    font-size: 1.25rem;
    padding: 1rem 0.5rem;
    margin: 0px;
    font-weight: 400;
}

.product-info {
    margin: 0rem 0rem 1rem;
    font-family: 'Raleway', sans-serif;
}

.prod-container {
    display: flex;
    justify-content: space-between;
}

.product-price {
    font-size: 1rem;
    font-weight: 200;
}

.product-code {
    font-size: 0.75rem;
    margin: 0;
}

.product-color {
    margin: 1rem 0px;
    font-size: 0.75rem;
}

.color-choose {
    font-weight: 700;
}

.colorselector-button {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
}

.colorselector-button.black {
    background-color: #000000;
    border: solid 1px #000000;
}

.colorselector-button.brown {
    background-color: #cfa880;
    border: solid 1px #000000;
    margin-left: 1rem;
}

.size-selector,
.instore-finder {
    width: 100%;
    border-radius: 2px;

    border: solid 1px #171717;
}

.size-selector {
    background-color: #171717;
    margin-bottom: 1rem;
}

.instore-finder {
    background-color: #fff;
}

.size-selector p,
.instore-finder p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 1.33;
    padding: 1rem 0px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.instore-finder p {
    color: #171717;
}

.info-underline {
    margin: 2rem 0px;
    border: none;
    border-top: solid 1px #c6c6c6;
}

.help-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: left;
    margin-top: 1rem;
    background: none;
    border: none;
    text-transform: uppercase;
    padding: 0px;
    margin-bottom: 0rem;
}

.product-desc {
    border-top: solid 1px #c6c6c6;
    margin: 2rem auto;
    padding-top: 2rem;
}

.desc-button,
.deliv-button {
    width: 100%;
    text-align: left;
    padding: 0px;
    margin-bottom: 2rem;
    border: none;
    cursor: pointer;
    background: none;
}

.desc-button h2,
.deliv-button h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.desc-button h2::after,
.deliv-button h2::after {
    content: url('img/triangle.svg');
    float: right;
}

.deliv-button h2::after {
    transform: rotate(180deg);
}


.desc-text {
    font-family: 'Lora', serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #171717;
}

.desc-text p {
    margin: 0;
}

.delivery-text {
    border-top: solid 1px #c6c6c6;
    margin: 2rem auto;
    padding-top: 2rem;
}

.dev-text {
    border-top: solid 1px #c6c6c6;

    padding-top: 2rem;
}

.deliv-button h2 {

    margin: 0px 0.5rem;
}

.dev-text .row {
    display: none;
}

.help-size-btn {
    display: none;
}

.recommend {

    margin-top: 1rem;
}

.we-recommend {
    padding: 0px 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 1rem;
}

a.recommend-item {
    display: block;
    margin-bottom: 2rem;
    cursor: pointer;
}

.recommend-pic {
    width: 100%;
}

.recommend-style {
    display: flex;
    justify-content: space-between;
}

h3.recommend-title {
    margin: 0px;
    margin-bottom: 0.3125rem;
    font-family: 'Lora', serif;
    line-height: 1rem;
    text-align: left;
    font-weight: 600;
    font-size: 0.75rem;
    color: #171717;
}

p.recommend-style-title {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: left;
    color: #171717;
    margin: 1rem 0px 0.5rem 0;
}

.recommend-available {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: left;
    color: #171717;
    margin: 0.5rem 0px 0.5rem 0;
}

.recommend-price {

    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 1.17;
    text-align: left;
    color: #999999;
    margin: 0;
}

.more-foryou {
    margin-top: 2.5rem;
    padding: 0px 0.5rem;
}

.more-foryou .more-title {
    display: block;
    font-family: 'Lora', serif;
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.21;
    text-align: left;
    color: #171717;
    margin-top: 1rem;
    text-decoration: none;
}

.foryou-title {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.19;
    text-align: left;
    color: #171717;
}

.footer {
    background-color: #f3f3f3;
    margin-top: 4rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
}

.footer-menu {
    display: none;
}

.footer-menu .row {
    margin: 0 -0.5rem;
    width: 100%;
}

.footer-menu-header {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: left;
    color: #171717;
    text-transform: uppercase;
}

.footer-menu-link {

    font-family: 'Raleway', sans-serif;
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    display: block;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    color: #999999;
}

.ft-btn button {
    display: block;
    border: none;
    background: none;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75em;
    line-height: 1.33;
    text-align: left;
    color: #999999;
    padding: 0px;
}

.ft-btn button span {
    color: black;
}

.btn-country {
    margin-bottom: 1rem;
    cursor: pointer;
}

.btn-lang {
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.need-help .help-h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
    color: #171717;
    margin-bottom: 1rem;
}


.need-help .contact-us {

    font-family: 'Lora', serif;
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.21;
    text-align: center;
    display: block;

    color: #171717;
    text-decoration: none;
}

.schoose-shop {
    display: none;
    position: absolute;
    left: 0.5rem;
    border: none;
    background: none;
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #999999;
}

.row-menu {
    display: none;
    margin: 0 auto;
    flex-flow: row wrap;
    align-items: stretch;
}

.header-wrapper-logo {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.row-menu a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.row-menu a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.row-menu a:hover>span {
    color: black;
}

.row-menu a span {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #999999;
    line-height: 1.33;
    letter-spacing: 1.5px;
}

.delivery-header {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 1rem;
    color: #171717;
}

.delivery-message-header {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: left;
    color: #171717;
}

.delivery-message-text {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: left;
    color: #171717;
    margin: 0.25rem 0px 1.5rem 0px;
}


.product-title-desktop {
    display: none;
}

img.gallery-image {
    width: 100%;
}

.product-color .prod-size,
.product-color .help-btn {
    display: none;
}

.free-delivery {
    display: none;
    margin-top: 1.5rem;
}

.free-delivery .dev-order {
    margin: 0.25rem 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: left;
    color: #171717;
}

.free-delivery .dev-title {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: left;
    color: #171717;
}

.product-color .row>div {
    padding: 0;
}

img.delivery__img {
    width: 100%;
}

span.quantity {
    border-bottom: 1px solid black;
}

.prod-sizes {
    display: none;
}

img.big-coat {
    display: none;
}

.prod-color {
    margin-bottom: 1rem;
}

.category-description {
    background-color: #f3f3f3;
    padding: 2rem 0.5rem;
}

.category-description-title {
    font-family: 'Lora', serif;
    font-size: 1, 625rem;
    text-align: left;
    margin-bottom: 1rem;
    color: #171717;
}

.category-description-desc {
    opacity: 0.87;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 1.67;
    text-align: left;
    color: #171717;
}

.category-sort {
    margin-top: 1.5rem;
}

.category-sort button {
    border: none;
    background: none;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: left;
    color: #171717;
}

.category-sort button>div::after {
    content: url('img/shape(1).svg');
    float: right;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.product-page-list {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.typeof-coats {
    font-family: 'Lora', sans-serif;
    font-size: 1rem;
    text-align: left;
    color: #171717;
    margin: 0 0.5rem;
    margin-bottom: 1rem;
}

.info-underline.product-underline {
    margin: 1rem 0px 3rem;
}

.showing-products {
    font-family: 'Lora', sans-serif;
    font-size: 1rem;
    text-align: center;
    display: block;
    color: #171717;
    margin-bottom: 1rem;
    width: 100%;
}

button.view-more-products {
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    background: none;
    border: solid 1px #171717;
}


/********************tablet****************/

@media screen and (min-width: 48rem) {
    .menu-open {
        display: none;
    }
    .schoose-shop {
        display: block;
    }
    .row-menu {
        display: flex;
    }
    .product-desc {
        border-top: 0;
        margin: 0.5rem auto 0 0;
        padding-top: 0rem;
    }
    .desc-button,
    {

        margin-bottom: 1rem;
    }
    .deliv-button {
        display: none;
    }
    .desc-button h2::after,
    .deliv-button h2::after {
        content: "";
        float: initial;
    }
    .dev-text {
        border: none;
        padding-top: 0px;
    }
    .dev-text .row {
        display: flex;
    }
    .delivery-text {
        margin: 2rem auto;
        padding-top: 0.5rem;
        border: none;
    }
    .need-help {
        display: none;
    }
    .footer-menu {
        display: block;
    }
    .ft-btn {
        margin-top: 1.25rem;
    }
    .ft-btn button {
        display: inline-block;
    }
    button.btn-lang {
        margin-left: 1.5rem;
    }
    .more-foryou {
        display: none;
    }
    a.recommend-item {
        margin-bottom: 0;
    }
    img.link-img {
        height: 1rem;
    }
    .header {
        padding: 1.5rem 0rem 1rem 0;
    }
}







/****************desktop***********/

@media (min-width: 62em) {

    .header {
        padding: 2rem 0rem 0rem 0;
    }
    .header-wrapper-logo {

        margin-bottom: 2rem;
    }
    .product-char {
        background-color: #d4bdad;
    }
    .product-title-desktop {
        display: block;
        line-height: 1.17;
        color: #111;
        font-family: 'Lora', serif;
    }
    .product-title {
        display: none;
    }
    .product-price {
        font-family: 'Raleway', sans-serif;
        margin-top: 0.5rem;
        font-weight: 500;
        text-align: left;
        color: #171717;
    }
    .product-code {
        display: none;
    }
    .product-color {
        margin: 3rem 0px 1rem;
        display: flex;
        justify-content: space-between;
    }
    .product-char {
        padding: 0 4.625rem;
    }
    .gallery {
        width: 488px;
        height: 651px;
        display: flex;
        overflow: hidden;
        margin-bottom: 0px;
    }
    .info-underline {
        display: none;
    }
    .product-info {
        margin: 9rem 0;
    }
    .product-info .row {
        width: 100%;
        margin: 0;
    }

    .product-color .prod-size,
    .product-color .help-btn {
        display: flex;
        justify-content: space-between;
    }
    button.help-size-btn {
        font-family: 'Raleway', sans-serif;
        font-size: 0.75rem;
        text-align: left;
        background: none;
        border: none;
        text-transform: uppercase;
        padding: 0px;
        display: inline-block;
        margin-bottom: 0rem;
    }
    .size-xl {
        display: inline-block;
        margin-left: 0.5rem;
    }
    .main-btn {
        display: flex;
        margin-top: 1.5rem;
    }
    .size-selector {
        margin-bottom: 0;
    }
    button.instore-finder {
        margin-left: 0.5rem;
        width: auto;
    }
    .help-btn {
        display: none;
    }
    .size-choose {
        font-weight: 700;
    }
    .free-delivery {
        display: block;
    }

    .instore-finder {
        background-color: #d4bdad;
    }

    .size-selector {
        margin-top: 1.5rem;
        margin-right: 0.5rem;
    }
    .product-color .col-right {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
    .prod-sizes {
        display: flex;
        justify-content: space-between;
    }
    .prod-sizes button {
        border-radius: 2px;
        border: solid 1px #171717;
        background: none;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
    }
    .prod-s {
        margin-left: 0.5rem;
    }
    .big-coat {
        width: 100%;
    }
    .product-desc {
        margin: 4rem 4.625rem;
    }
    .delivery-text {
        margin: 0rem 4.625rem;
        padding-top: 0;
    }
    .recommend {
        margin: 4rem 4.625rem;
    }
    .footer {
        padding: 4rem 4.625rem 3rem 4.625rem;
    }
    .more-images {
        margin-top: 4rem;
    }

    .more-images .col-middle {
        padding-top: 4rem;
    }
    .delivery-block {
        padding-left: 6rem;
    }
    .we-recommend {


        text-align: center;

        padding-bottom: 2rem;
    }


    .row {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .prod-sizes {
        display: none;
    }
    img.big-coat {
        display: block;
    }
    .more-images {
        display: flex;
    }
	
	.more-images .col-middle {
        padding-top: 4rem;
    }



}   